{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TraceX{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- CoreUI -->
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.2.0/dist/css/coreui.min.css" rel="stylesheet">

    <!-- Archivos CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

</head>


<body>

    <div class="d-flex">

        <!-- ......................................................................................................
            S I D E B A R
        ...................................................................................................... -->

        <aside
            class="bg-dark text-white p-3"
            style="width:260px; min-height:100vh;">

            <!-- Logo -->
            <h3 class="fw-bold mb-4">TraceX</h3>

            <hr class="text-secondary">


            <!-- Menú -->
            <ul class="nav flex-column sidebar-menu">


                    <!-- Dashboard -->
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white" href="#">
                            <i class="bi bi-speedometer2 me-2"></i>
                            Dashboard
                        </a>
                    </li>

                    <!-- Producción -->
                    <li class="nav-item mb-2">
                        <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" 
                        href="#produccion"role="button" aria-expanded="false">
                            <span>
                                <i class="bi bi-gear-wide-connected me-2"></i>
                                Producción
                            </span>
                            <i class="bi bi-chevron-down chevron"></i>
                        </a>

                        <div class="collapse submenu" id="produccion">
                            <a href="#" class="nav-link text-white">Órdenes de Producción</a>
                            <a href="#" class="nav-link text-white">Laptops</a>
                            <a href="#" class="nav-link text-white">Seguimiento de Ensamblaje</a>
                        </div>
                    </li>

                <!-- Calidad -->
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-check2-circle me-2"></i>
                        Calidad
                    </a>
                </li>

                <!-- Incidencias -->
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-exclamation-triangle me-2"></i>
                        Incidencias
                    </a>
                </li>

                <!-- Embalaje -->
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-box-arrow-up me-2"></i>
                        Embalaje
                    </a>
                </li>

                <!-- Trazabilidad -->
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-search me-2"></i>
                        Trazabilidad
                    </a>
                </li>


                <!-- Planta -->
                <li class="nav-item mb-2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" 
                    href="#planta"role="button" aria-expanded="false">
                        <span>
                            <i class="bi bi-gear-wide-connected me-2"></i>
                            Planta
                        </span>
                        <i class="bi bi-chevron-down chevron"></i>
                    </a>

                    <div class="collapse submenu" id="planta">
                        <a href="#" class="nav-link text-white small">Líneas de Ensamblaje</a>
                        <a href="#" class="nav-link text-white small">Estaciones de Trabajo</a>
                    </div>
                </li>

                <!-- Materiales -->
                <li class="nav-item mb-2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" 
                    href="#materiales"role="button" aria-expanded="false">
                        <span>
                            <i class="bi bi-gear-wide-connected me-2"></i>
                            Materiales
                        </span>
                        <i class="bi bi-chevron-down chevron"></i>
                    </a>
                    <div class="submenu" id="materiales">
                        <a href="#" class="nav-link text-white small">Componentes</a>
                        <a href="#" class="nav-link text-white small">Órdenes de Material</a>
                    </div>
                </li>

                <!-- Personal -->
                <li class="nav-item mb-2 has-submenu">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" 
                    href="#personal"role="button" aria-expanded="false">
                        <span>
                            <i class="bi bi-gear-wide-connected me-2"></i>
                            Producción
                        </span>
                        <i class="bi bi-chevron-down chevron"></i>
                    </a>

                    <div class="collapse submenu" id="personal">
                        <a href="#" class="nav-link text-white small">Usuarios</a>
                        <a href="#" class="nav-link text-white small">Empleados</a>
                    </div>
                </li>


                <!-- Reportes -->
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-file-earmark-bar-graph me-2"></i>
                        Reportes
                    </a>
                </li>


            </ul>


        </aside>
        <!-- ......................................................................................................
             C O N T E N E D O R   P R I N C I P A L
        ...................................................................................................... -->
        <div class="flex-grow-1">

            <!-- ......................................................................................................
                T O P   B A R
            ...................................................................................................... -->
            <header class="bg-white border-bottom p-3">Topbar</header>

            <!-- ......................................................................................................
                C O N T E N I D O  P A G I NA
            ...................................................................................................... -->
            <main class="p-4">

                {% block content %}
                {% endblock %}

            </main>

        </div>

        <!-- Bootstrap JS -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Archivos JS-->
         <script src="{% static 'js/main.js' %}"></script>
    </div>

</body>
</html>