/* =====================================
   TOPBAR — TraceX
===================================== */

.topbar{
    height: var(--topbar-height);
    background: var(--bs-light);
    border-bottom: 1px solid var(--bs-border-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 var(--space-xl);
}

.topbar-left{
    display: flex;
    flex-direction: column;
}

.module-title{
    margin: 0;
    font-size: var(--text-2xl);
    font-weight: 700;
    color: var(--bs-primary);
}

.module-subtitle{
    margin-top: 2px;
    font-size: var(--text-sm);
    color: var(--color-text-light);
}

.topbar-right{
    display: flex;
    align-items: center;
}

/* =====================
   Usuario
===================== */

.user-menu-btn{
    display: flex;
    align-items: center;
    gap: 14px;

    background: none;
    border: none;
    cursor: pointer;

    padding: var(--space-sm) var(--space-md);
    border-radius: var(--bs-border-radius);

    transition: var(--transition);
}

.user-menu-btn:hover{
    background: #F3F4F6;
}

.user-avatar{
    width: var(--avatar-size);
    height: var(--avatar-size);

    border-radius: 50%;
    background: var(--bs-primary);
    color: var(--bs-light);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--text-xl);
}

.user-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-data span{
    display: block;
}

.employee-name{
    font-size: var(--text-sm);
    font-weight: 600;
}

.username{
    font-size: var(--text-xs);
    color: var(--color-text-light);
}